!!! 5
html(lang='en')  
  head 
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width")
    title= title  
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    
    //- Styles - frameworks
    link(rel="stylesheet",href="/styles/Normalize.css")
    link(rel="stylesheet",href="/styles/boostrap/css/bootstrap.min.css")
    link(rel="stylesheet",href="/styles/boostrap/css/bootstrap-responsive.min.css")
    //- Styles - application
    link(rel="stylesheet",href="/styles/Site.css")
    link(rel="stylesheet",href="/styles/jquery.tagsinput.css")

  body
    block content

    footer(role='contentinfo', class="footer")
      div.container 
        p <a href="http://www.xfree86.org/3.3.6/COPYRIGHT2.html#3">MIT Licence</a>. Crafted by <a href="mailto:vitotao@gmail.com">W.Wasilewski</a> so far.
            